<main class="container">
    <%= turbo_frame_tag dom_id(@quote) do %>
        <div class="header">
            <h1>Edit quote</h1>
        </div>

        <%= render "form", quote: @quote %>
    <% end %>
</main>