<main class="container">
    <div class="header">
        <h1>Quotes</h1>
        <%= link_to "New Quote", new_quote_path, class: "btn btn-primary", data: {"turbo-frame": "new_quote"} %>
    </div>
    <%= turbo_frame_tag id="new_quote" do %><% end %>
    <%= render @quotes %>
</main>